<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <button id="gologin">login</button>
    <button id="testLogin">test</button>
    <script src="https://cdn.bootcss.com/axios/0.19.0-beta.1/axios.js"></script>
    <script>
        //content-type:"text"
        // fetch('/test',{method:'post',headers:{'content-type':"application/json"},body:JSON.stringify({name:"test"})}).then(res=>res.json()).then(res=>console.log(res))
        
        document.querySelector('#gologin').onclick=function () {
            axios.post('/login', {
                user_name: "axios",
                user_pwd: 123456
            }).then(res => {
                console.log(res.data)
            })
        }
        document.querySelector('#testLogin').onclick=function () {
            
            axios.post('/register').then(res => console.log(res.data))
        }
    </script>
</body>

</html>